.chatScreen {
  background-color: aliceblue;
  padding: 1rem;
}

.textMessageReceive {
  background-color: rgb(159, 241, 214);
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}
.textMessageSent {
  background-color: rgb(152, 204, 247);
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.dateTimeReceived {
  text-align: right;
  overflow: hidden;
}

.chatElement {
  padding: 3rem;
  border-radius: 2rem;
}

.header {
  background-color: rgb(207, 226, 255);
  border-radius: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: auto;
}
h2 {
  padding: 1rem;
}

h5 {
  padding: 1rem;
}

h3 {
  text-align: center;
}

.btn-outline-primary {
  border-radius: 1rem;
  padding: 2rem;
}
