.playListElement {
  padding: 3rem;
  border-radius: 2rem;
}

.header {
  background-color: rgb(224, 207, 252);
  border-radius: 2rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: auto;
}
h2 {
  padding: 1rem;
}

h5 {
  padding: 1rem;
}

h3 {
  text-align: center;
}

.btn-outline-primary,
.btn-primary {
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgb(89, 53, 154);
  color: rgb(224, 207, 252);
}
